h1 {
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

.flex {
    display: flex;
}

.robot {
    justify-content: center;
}

.robot--android {
    flex-direction: column;
    align-items: center;
}

.android__head,
.android__arm,
.android__torso,
.android__leg {
	 background-color: #5f93e8;
}

.android__head {
	width: 200px;
	height: 150px;
	border-radius: 200px 200px 0 0;
	margin-bottom: 10px;
}

.android__head:hover {
    width: 300px;
    transition: 1s ease-in-out;
}

.android__eye {
    width: 20px;
    height: 20px;
    border-radius: 15px;
    background-color: white;
    position: relative;
    top: 100px;
}

.android__eye--left {
    left: 40px;
}

.android__eye--right {
    left: 120px;
}

.android__upper-body {
	width: 300px;
	height: 150px;
}

.android__arm {
	width: 40px;
	height: 125px;
	border-radius: 100px;
}

.android__arm--left {
	margin-right: 10px;
}

.android__arm--left:hover {
    transform: rotate(30deg);
}

.android__arm--right {
	margin-left: 10px;
}

.android__arm--right:hover {
    transform: rotate(-30deg);
}

.android__torso {
	width: 200px;
	height: 200px;
	border-radius: 0 0 50px 50px;
}

.android__lower-body {
	width: 200px;
	height: 200px;
}

.android__leg {
	width: 40px;
	height: 120px;
	border-radius: 0 0 100px 100px;
}

.android__leg--left {
	margin-left: 45px;
}

.android__leg--left:hover {
    transform: rotate(20deg);
}

.android__leg--right {
	margin-left: 30px;
}

.android__leg--right:hover {
    transform: rotate(-20deg);
}






